{{!< default}}

{{! This is a page template. A page outputs content just like any other post, and has all the same
    attributes by default, but you can also customise it to behave differently if you prefer. }}

{{! Everything inside the #post tags pulls data from the page }}


<header class="main-header post-head {{#if image}}" style="background-image: url({{image}}){{else}}no-cover{{/if}}">
    <nav class="main-nav {{#if image}}overlay{{/if}} clearfix">
        <a class="back-button icon-arrow-left" href="{{@blog.url}}">Home</a>
        <a class="subscribe-button icon-feed" href="{{@blog.url}}/rss/">Subscribe</a>
          <a href="javascript:chooseStyle('none', 60)"><i class="fa fa-bookmark-o"></i>Light</a>
    <a href="javascript:chooseStyle('medium', 60)"><i class="fa fa-pencil fa-fw"></i>Mellow</a>
    <a href="javascript:chooseStyle('dark', 60)"><i class="fa fa-bookmark"></i>Dark</a> 
    </nav>
</header>

<main class="content" role="main">

    <div class="row">
  <div class="col-lg-6">
    <form>
  <div class="form-group">
    <label for="exampleInputEmail1">Email address</label>
    <input type="email" class="form-control" id="exampleInputEmail1" placeholder="Enter email">
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password</label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Password">
  </div>
  <div class="form-group">
    <label for="exampleInputFile">File input</label>
     <input type="hidden" role="uploadcare-uploader" name="my_file" />
    <p class="help-block">Example block-level help text here.</p>
  </div>
</form>
        
  <input
    name="your_form_field_name"
    value="orginal_image_url"
    type="hidden"
    role="uploadcare-uploader"
    data-images-only
    data-crop
    />    
      
       
   
  </div><!-- /.col-lg-6 -->
</div><!-- /.row -->
    
    
</main>

{{> footer}}

  