<!DOCTYPE html>
<html>
<head>
	<meta charset="UTF-8" />
		<meta name=viewport content="width=device-width,initial-scale=1,user-scalable=no">
		<title>A Ghost Theme Site | Not just another Ghost site</title>
	
			

    
<link rel='stylesheet' id='default_style-css'  href='http://samantha-andrews.com/wp-content/themes/eden/style.css?ver=4.1' type='text/css' media='all' />
<link rel='stylesheet' id='font-awesome-css'  href='http://samantha-andrews.com/wp-content/themes/eden/css/font-awesome/css/font-awesome.min.css?ver=4.1' type='text/css' media='all' />
    
<link rel='stylesheet' id='stylesheet-css'  href='http://samantha-andrews.com/wp-content/themes/eden/css/stylesheet.min.css?ver=4.1' type='text/css' media='all' />
    
<link rel='stylesheet' id='mac_stylesheet-css'  href='http://samantha-andrews.com/wp-content/themes/eden/css/mac_stylesheet.css?ver=4.1' type='text/css' media='all' />


    
<link rel='stylesheet' id='style_dynamic-css'  href='http://samantha-andrews.com/wp-content/themes/eden/css/style_dynamic.php?ver=4.1' type='text/css' media='all' />
    
<link rel='stylesheet' id='responsive-css'  href='http://samantha-andrews.com/wp-content/themes/eden/css/responsive.min.css?ver=4.1' type='text/css' media='all' />
    
<link rel='stylesheet' id='style_dynamic_responsive-css'  href='http://samantha-andrews.com/wp-content/themes/eden/css/style_dynamic_responsive.php?ver=4.1' type='text/css' media='all' />
    
<link rel='stylesheet' id='js_composer_front-css'  href='http://samantha-andrews.com/wp-content/plugins/js_composer/assets/css/js_composer.css?ver=4.3.5' type='text/css' media='all' />
    

    
<link rel='stylesheet' id='js_composer_custom_css-css'  href='http://samantha-andrews.com/wp-content/uploads/js_composer/custom.css?ver=4.3.5' type='text/css' media='screen' />
    
    
<script type='text/javascript' src='http://samantha-andrews.com/wp-content/plugins/LayerSlider/static/js/greensock.js?ver=1.11.8'></script>
<script type='text/javascript' src='http://samantha-andrews.com/wp-includes/js/jquery/jquery.js?ver=1.11.1'></script>
<script type='text/javascript' src='http://samantha-andrews.com/wp-includes/js/jquery/jquery-migrate.min.js?ver=1.2.1'></script>
<script type='text/javascript' src='http://samantha-andrews.com/wp-content/plugins/LayerSlider/static/js/layerslider.kreaturamedia.jquery.js?ver=5.3.2'></script>
<script type='text/javascript' src='http://samantha-andrews.com/wp-content/plugins/LayerSlider/static/js/layerslider.transitions.js?ver=5.3.2'></script>

</head>
<section id="pinkerton">
<body class="home page page-id-13875 page-template page-template-full_width page-template-full_width-php ajax_fade page_not_loaded  show_loading_animation wpb-js-composer js-comp-ver-4.3.5 vc_responsive">
	
				

			<a id='back_to_top' href='#'>
			<span class="fa-stack">
				<i class="fa fa-angle-up " style=""></i>
			</span>
		</a>
				
										
        
        
        
        <div    class="vc_row wpb_row section vc_row-fluid grid_section" style=' padding-top:81px; padding-bottom:21px; text-align:left;'><div class=" section_inner clearfix"><div class='section_inner_margin clearfix'>
	<div class="vc_col-sm-12 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			<div    class="vc_row wpb_row section vc_row-fluid" style=' text-align:left;'><div class=" clearfix">
	</div> 
	</div> 
</div></div></div>
            
                            
                <div    class="vc_row wpb_row section vc_row-fluid grid_section" style='background-color:#f4f4f4; padding-top:102px; padding-bottom:43px; text-align:left;'><div class=" section_inner clearfix"><div class='section_inner_margin clearfix'>
                    
                    
                    
	<div class="vc_col-sm-4 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			<div class="separator  transparent center  " style="margin-top:48px;margin-bottom:0px;"></div>

	<div class="wpb_single_image wpb_content_element vc_align_left  element_from_left">
		<div style='transition-delay:0.3s'>
		<div class="wpb_wrapper">
			
			<img width="310" height="293" src="http://samantha-andrews.com/wp-content/uploads/2014/01/devices1.png" class="attachment-full" alt="qode" />
		</div> 
		</div>
	</div> <div class="separator  transparent center circle_center " style="margin-top:60px;margin-bottom:0px;"></div>

		</div> 
	</div> 

	<div class="vc_col-sm-4 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			<ul class="q_icon_list_with_text_outer three"><li class="q_icon_list_with_text_inner"><span class="q_icon_list_with_text_icon_holder q_icon_list_animation" style="transition-delay: 300ms; -webkit-transition-delay: 300ms; -moz-transition-delay: 300ms; -o-transition-delay: 300ms;"><span class="q_icon_list_circle" style=""></span><span class="q_icon_list_with_text_icon"><i class="fa fa-male" style=""></i></span></span><div class="q_icon_list_with_text_holder"><h4 class="q_icon_list_with_text_title" style="">Font Awesome Icons</h4><p class="q_icon_list_with_text_text" style="">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p></div><span class="line_between_circles q_icon_list_animation" style="transition-delay: 330ms; -webkit-transition-delay: 330ms; -moz-transition-delay: 330ms; -o-transition-delay: 330ms;"><span class="line_between_circles_inner q_icon_list_animation" style="transition-delay: 330ms; -webkit-transition-delay: 330ms; -moz-transition-delay: 330ms; -o-transition-delay: 330ms;"></span></span></li><li class="q_icon_list_with_text_inner"><span class="q_icon_list_with_text_icon_holder q_icon_list_animation" style="transition-delay: 600ms; -webkit-transition-delay: 600ms; -moz-transition-delay: 600ms; -o-transition-delay: 600ms;"><span class="q_icon_list_circle" style=""></span><span class="q_icon_list_with_text_icon"><i class="fa fa-flask" style=""></i></span></span><div class="q_icon_list_with_text_holder"><h4 class="q_icon_list_with_text_title" style="">Visual Page Builder</h4><p class="q_icon_list_with_text_text" style="">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p></div><span class="line_between_circles q_icon_list_animation" style="transition-delay: 660ms; -webkit-transition-delay: 660ms; -moz-transition-delay: 660ms; -o-transition-delay: 660ms;"><span class="line_between_circles_inner q_icon_list_animation" style="transition-delay: 660ms; -webkit-transition-delay: 660ms; -moz-transition-delay: 660ms; -o-transition-delay: 660ms;"></span></span></li><li class="q_icon_list_with_text_inner"><span class="q_icon_list_with_text_icon_holder q_icon_list_animation" style="transition-delay: 900ms; -webkit-transition-delay: 900ms; -moz-transition-delay: 900ms; -o-transition-delay: 900ms;"><span class="q_icon_list_circle" style=""></span><span class="q_icon_list_with_text_icon"><i class="fa fa-laptop" style=""></i></span></span><div class="q_icon_list_with_text_holder"><h4 class="q_icon_list_with_text_title" style="">Header With Slider</h4><p class="q_icon_list_with_text_text" style="">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p></div><span class="line_between_circles q_icon_list_animation" style="transition-delay: 990ms; -webkit-transition-delay: 990ms; -moz-transition-delay: 990ms; -o-transition-delay: 990ms;"><span class="line_between_circles_inner q_icon_list_animation" style="transition-delay: 990ms; -webkit-transition-delay: 990ms; -moz-transition-delay: 990ms; -o-transition-delay: 990ms;"></span></span></li></ul><div class="separator  transparent center circle_center " style="margin-top:60px;margin-bottom:0px;"></div>

		</div> 
	</div> 

	<div class="vc_col-sm-4 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			<ul class="q_icon_list_with_text_outer three"><li class="q_icon_list_with_text_inner"><span class="q_icon_list_with_text_icon_holder q_icon_list_animation" style="transition-delay: 300ms; -webkit-transition-delay: 300ms; -moz-transition-delay: 300ms; -o-transition-delay: 300ms;"><span class="q_icon_list_circle" style=""></span><span class="q_icon_list_with_text_icon"><span class="q_icon_list_with_text_in_circle" style="">01</span></span></span><div class="q_icon_list_with_text_holder"><h4 class="q_icon_list_with_text_title" style="">Retina Ready Icons</h4><p class="q_icon_list_with_text_text" style="">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p></div><span class="line_between_circles q_icon_list_animation" style="transition-delay: 330ms; -webkit-transition-delay: 330ms; -moz-transition-delay: 330ms; -o-transition-delay: 330ms;"><span class="line_between_circles_inner q_icon_list_animation" style="transition-delay: 330ms; -webkit-transition-delay: 330ms; -moz-transition-delay: 330ms; -o-transition-delay: 330ms;"></span></span></li><li class="q_icon_list_with_text_inner"><span class="q_icon_list_with_text_icon_holder q_icon_list_animation" style="transition-delay: 600ms; -webkit-transition-delay: 600ms; -moz-transition-delay: 600ms; -o-transition-delay: 600ms;"><span class="q_icon_list_circle" style=""></span><span class="q_icon_list_with_text_icon"><span class="q_icon_list_with_text_in_circle" style="">02</span></span></span><div class="q_icon_list_with_text_holder"><h4 class="q_icon_list_with_text_title" style="">Demo Content</h4><p class="q_icon_list_with_text_text" style="">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p></div><span class="line_between_circles q_icon_list_animation" style="transition-delay: 660ms; -webkit-transition-delay: 660ms; -moz-transition-delay: 660ms; -o-transition-delay: 660ms;"><span class="line_between_circles_inner q_icon_list_animation" style="transition-delay: 660ms; -webkit-transition-delay: 660ms; -moz-transition-delay: 660ms; -o-transition-delay: 660ms;"></span></span></li><li class="q_icon_list_with_text_inner"><span class="q_icon_list_with_text_icon_holder q_icon_list_animation" style="transition-delay: 900ms; -webkit-transition-delay: 900ms; -moz-transition-delay: 900ms; -o-transition-delay: 900ms;"><span class="q_icon_list_circle" style=""></span><span class="q_icon_list_with_text_icon"><span class="q_icon_list_with_text_in_circle" style="">03</span></span></span><div class="q_icon_list_with_text_holder"><h4 class="q_icon_list_with_text_title" style="">AJAX Transitions</h4><p class="q_icon_list_with_text_text" style="">Ut wisi enim ad minim veniam, quis nostrud exerci tation ullamcorper suscipit lobortis nisl ut aliquip ex ea commodo.</p></div><span class="line_between_circles q_icon_list_animation" style="transition-delay: 990ms; -webkit-transition-delay: 990ms; -moz-transition-delay: 990ms; -o-transition-delay: 990ms;"><span class="line_between_circles_inner q_icon_list_animation" style="transition-delay: 990ms; -webkit-transition-delay: 990ms; -moz-transition-delay: 990ms; -o-transition-delay: 990ms;"></span></span></li></ul><div class="separator  transparent center circle_center " style="margin-top:60px;margin-bottom:0px;"></div>

		</div> 
	</div> 
                    
                    
                    
                    
</div></div></div>
            
            <section    data-speed="1" class="parallax_section_holder " style = " height:433px; background-image:url('http://samantha-andrews.com/wp-content/uploads/2014/02/parallax-03.jpg');">
                <div class="parallax_content left"><div class='parallax_section_inner_margin clearfix'>
	<div class="vc_col-sm-12 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			<div class="separator  transparent center circle_center " style="margin-top:92px;"></div>

	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h2 style="text-align: center;"><span style="color: #ffffff;">Get Social With Us</span></h2>

		</div> 
	</div> <div class="separator  small center circle_center " style="margin-bottom:45px;"><span style=''></span></div>
<div    class="vc_row wpb_row section vc_row-fluid" style=' text-align:center;'><div class=" clearfix">
	<div class="vc_col-sm-2 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			<span class='q_social_icon_holder'><a href='https://twitter.com' target='_blank'><span class='fa-stack fa-4x circle_social' style='background-color: rgba(255,255,255,0.2);'><i class='fa fa-twitter' style=''></i></span><span class='fa-stack fa-4x circle_social social_share_hover twitter' style=''><i class='fa fa-twitter' style=''></i></span></a></span><div class="separator  transparent center circle_center " style="margin-top:60px;margin-bottom:0px;"></div>

		</div> 
	</div> 

	<div class="vc_col-sm-2 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			<span class='q_social_icon_holder'><a href='http://instagram.com' target='_blank'><span class='fa-stack fa-4x circle_social' style='background-color: rgba(255,255,255,0.2);'><i class='fa fa-instagram' style=''></i></span><span class='fa-stack fa-4x circle_social social_share_hover instagram' style=''><i class='fa fa-instagram' style=''></i></span></a></span><div class="separator  transparent center circle_center " style="margin-top:60px;margin-bottom:0px;"></div>

		</div> 
	</div> 

	<div class="vc_col-sm-2 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			<span class='q_social_icon_holder'><a href='https://www.facebook.com/' target='_blank'><span class='fa-stack fa-4x circle_social' style='background-color: rgba(255,255,255,0.2);'><i class='fa fa-facebook' style=''></i></span><span class='fa-stack fa-4x circle_social social_share_hover facebook' style=''><i class='fa fa-facebook' style=''></i></span></a></span><div class="separator  transparent center circle_center " style="margin-top:60px;margin-bottom:0px;"></div>

		</div> 
	</div> 

	<div class="vc_col-sm-2 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			<span class='q_social_icon_holder'><a href='http://dribbble.com/' target='_blank'><span class='fa-stack fa-4x circle_social' style='background-color: rgba(255,255,255,0.2);'><i class='fa fa-dribbble' style=''></i></span><span class='fa-stack fa-4x circle_social social_share_hover dribbble' style=''><i class='fa fa-dribbble' style=''></i></span></a></span><div class="separator  transparent center circle_center " style="margin-top:60px;margin-bottom:0px;"></div>

		</div> 
	</div> 

	<div class="vc_col-sm-2 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			<span class='q_social_icon_holder'><a href='https://www.youtube.com/' target='_blank'><span class='fa-stack fa-4x circle_social' style='background-color: rgba(255,255,255,0.2);'><i class='fa fa-youtube' style=''></i></span><span class='fa-stack fa-4x circle_social social_share_hover youtube' style=''><i class='fa fa-youtube' style=''></i></span></a></span><div class="separator  transparent center circle_center " style="margin-top:60px;margin-bottom:0px;"></div>

		</div> 
	</div> 

	<div class="vc_col-sm-2 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			<span class='q_social_icon_holder'><a href='https://www.pinterest.com/' target='_blank'><span class='fa-stack fa-4x circle_social' style='background-color: rgba(255,255,255,0.2);'><i class='fa fa-pinterest' style=''></i></span><span class='fa-stack fa-4x circle_social social_share_hover pinterest' style=''><i class='fa fa-pinterest' style=''></i></span></a></span><div class="separator  transparent center circle_center " style="margin-top:60px;margin-bottom:0px;"></div>

		</div> 
	</div> 
</div></div>
		</div> 
	</div> 
</div></div>
            
            </section>
            
            
            
            
            
            
            <div    class="vc_row wpb_row section vc_row-fluid grid_section" style='background-color:#903; padding-top:28px; padding-bottom:26px; text-align:left;'> Hello - here we go again<div class=" section_inner clearfix"><div class='section_inner_margin clearfix'>
	
                
                
                
                <div class="vc_col-sm-12 wpb_column vc_column_container">
		
        
        
        <div class="wpb_wrapper">
			<div class='qode_carousels_holder clearfix'><div class='qode_carousels light'><ul class='slides'><li class='item'><span class='first_image_holder has_hover_image'><img src='http://demo.qodeinteractive.com/eden/wp-content/uploads/2014/02/barbermini.png' alt='barber mini'></span><span class='second_image_holder has_hover_image'><img src='http://demo.qodeinteractive.com/eden/wp-content/uploads/2014/03/barbermini.png' alt='barber mini'></span></li><li class='item'><span class='first_image_holder has_hover_image'><img src='http://demo.qodeinteractive.com/eden/wp-content/uploads/2014/02/bicyclemini.png' alt='bicycle mini'></span><span class='second_image_holder has_hover_image'><img src='http://demo.qodeinteractive.com/eden/wp-content/uploads/2014/03/bicyclemini.png' alt='bicycle mini'></span></li><li class='item'><span class='first_image_holder has_hover_image'><img src='http://demo.qodeinteractive.com/eden/wp-content/uploads/2014/02/crabmini.png' alt='crab mini'></span><span class='second_image_holder has_hover_image'><img src='http://demo.qodeinteractive.com/eden/wp-content/uploads/2014/03/crabmini.png' alt='crab mini'></span></li><li class='item'><span class='first_image_holder has_hover_image'><img src='http://demo.qodeinteractive.com/eden/wp-content/uploads/2014/02/tastymini.png' alt='tasty mini'></span><span class='second_image_holder has_hover_image'><img src='http://demo.qodeinteractive.com/eden/wp-content/uploads/2014/03/tastymini.png' alt='tasty mini'></span></li><li class='item'><span class='first_image_holder has_hover_image'><img src='http://demo.qodeinteractive.com/eden/wp-content/uploads/2014/02/universitymini.png' alt='university mini'></span><span class='second_image_holder has_hover_image'><img src='http://demo.qodeinteractive.com/eden/wp-content/uploads/2014/03/universitymini.png' alt='university mini'></span></li><li class='item'><span class='first_image_holder has_hover_image'><img src='http://demo.qodeinteractive.com/eden/wp-content/uploads/2014/02/velitmini.png' alt='velit mini'></span><span class='second_image_holder has_hover_image'><img src='http://demo.qodeinteractive.com/eden/wp-content/uploads/2014/03/velitmini.png' alt='velit mini'></span></li><li class='item'><span class='first_image_holder has_hover_image'><img src='http://demo.qodeinteractive.com/eden/wp-content/uploads/2014/02/barbermini.png' alt='barber mini cloned'></span><span class='second_image_holder has_hover_image'><img src='http://demo.qodeinteractive.com/eden/wp-content/uploads/2014/03/barbermini.png' alt='barber mini cloned'></span></li><li class='item'><span class='first_image_holder has_hover_image'><img src='http://demo.qodeinteractive.com/eden/wp-content/uploads/2014/02/bicyclemini.png' alt='bicycle mini cloned'></span><span class='second_image_holder has_hover_image'><img src='http://demo.qodeinteractive.com/eden/wp-content/uploads/2014/03/bicyclemini.png' alt='bicycle mini cloned'></span></li><li class='item'><span class='first_image_holder has_hover_image'><img src='http://demo.qodeinteractive.com/eden/wp-content/uploads/2014/02/crabmini.png' alt='crab mini cloned'></span><span class='second_image_holder has_hover_image'><img src='http://demo.qodeinteractive.com/eden/wp-content/uploads/2014/03/crabmini.png' alt='crab mini cloned'></span></li></ul></div></div>
		</div> 
	</div> 
</div></div></div>
            
            
            
            
            
            <div    class="vc_row wpb_row section vc_row-fluid grid_section" style='background-color:#f4f4f4; padding-top:75px; padding-bottom:20px; text-align:left;'><div class=" section_inner clearfix"><div class='section_inner_margin clearfix'>
	<div class="vc_col-sm-12 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			
	<div class="wpb_text_column wpb_content_element ">
		<div class="wpb_wrapper">
			<h3 style="text-align: center;">The Best Solution For Your Business</h3>

		</div> 
	</div> <div class="separator  small center circle_center " style="margin-bottom:47px;"><span style=''></span></div>
<div    class="vc_row wpb_row section vc_row-fluid" style=' text-align:left;'><div class=" clearfix">
	<div class="vc_col-sm-3 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			<div class='service_table_holder'><ul class='service_table_inner' data-borderservice='#00c6ff'><li class='service_table_title_holder background_color_type with_border' style='background-color: #ffffff;border-top-color: #00c6ff;color: #222222;'><div class='service_table_title_inner'><div class='service_table_title_inner2'><h4 class='service_title' style='color: #222222;'>Awesome Design</h4><i class='fa fa-flag fa-lg' style='font-size: 45px;'></i></div></div></li><li class='service_table_content' style=''></p>
<ul>
<li>Modern electronic commerce typically uses the World Wide Web at least at one point</li>
<li>Ecommerce Development</li>
<li>Premium Sliders</li>
<li>Retina Ready Graphics</li>
<li>Mobile Ready Now</li>
</ul>
<p></li></ul></div><div class="separator  transparent center circle_center " style="margin-top:64px;margin-bottom:0px;"></div>

		</div> 
	</div> 

	<div class="vc_col-sm-3 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			<div class='service_table_holder'><ul class='service_table_inner' data-borderservice='#b9cf00'><li class='service_table_title_holder background_color_type with_border' style='background-color: #ffffff;border-top-color: #b9cf00;color: #222222;'><div class='service_table_title_inner'><div class='service_table_title_inner2'><h4 class='service_title' style='color: #222222;'>Modern &amp; Clean</h4><i class='fa fa-desktop fa-lg' style='font-size: 45px;'></i></div></div></li><li class='service_table_content' style=''></p>
<ul>
<li>Modern electronic commerce typically uses the World Wide Web at least at one point</li>
<li>Ecommerce Development</li>
<li>Premium Sliders</li>
<li>Retina Ready Graphics</li>
<li>Mobile Ready Now</li>
</ul>
<p></li></ul></div><div class="separator  transparent center circle_center " style="margin-top:64px;margin-bottom:0px;"></div>

		</div> 
	</div> 

	<div class="vc_col-sm-3 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			<div class='service_table_holder'><ul class='service_table_inner' data-borderservice='#ec5126'><li class='service_table_title_holder background_color_type with_border' style='background-color: #ffffff;border-top-color: #ec5126;color: #222222;'><div class='service_table_title_inner'><div class='service_table_title_inner2'><h4 class='service_title' style='color: #222222;'>Demo Content</h4><i class='fa fa-html5 fa-lg' style='font-size: 45px;'></i></div></div></li><li class='service_table_content' style=''></p>
<ul>
<li>Modern electronic commerce typically uses the World Wide Web at least at one point</li>
<li>Ecommerce Development</li>
<li>Premium Sliders</li>
<li>Retina Ready Graphics</li>
<li>Mobile Ready Now</li>
</ul>
<p></li></ul></div><div class="separator  transparent center circle_center " style="margin-top:64px;margin-bottom:0px;"></div>

		</div> 
	</div> 

	<div class="vc_col-sm-3 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			<div class='service_table_holder'><ul class='service_table_inner' data-borderservice='#fac635'><li class='service_table_title_holder background_color_type with_border' style='background-color: #ffffff;border-top-color: #fac635;color: #222222;'><div class='service_table_title_inner'><div class='service_table_title_inner2'><h4 class='service_title' style='color: #222222;'>Unlimited Options</h4><i class='fa fa-plane fa-lg' style='font-size: 45px;'></i></div></div></li><li class='service_table_content' style=''></p>
<ul>
<li>Modern electronic commerce typically uses the World Wide Web at least at one point</li>
<li>Ecommerce Development</li>
<li>Premium Sliders</li>
<li>Retina Ready Graphics</li>
<li>Mobile Ready Now</li>
</ul>
<p></li></ul></div><div class="separator  transparent center circle_center " style="margin-top:66px;margin-bottom:0px;"></div>

		</div> 
	</div> 
</div></div>
		</div> 
	</div> 
</div></div></div>






	<div class="vc_col-sm-8 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			<div    class="vc_row wpb_row section vc_row-fluid" style=' text-align:right;'><div class=" clearfix">
	<div class="vc_col-sm-12 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			<span class="custom_font_holder" style="font-family: museo300; font-size: 20px; line-height: 39px; font-style: normal; font-weight: 300; color: #222222; text-decoration: none; padding: 0; margin: 0; text-align: left;"></p>
<p style="text-align: right;">Pinkerton is a unique Ghost theme for presentations or portfolio website.</p>
<p></span>
		</div> 
	</div> 
</div></div>
		</div> 
	</div> 

	<div class="vc_col-sm-4 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			<div    class="vc_row wpb_row section vc_row-fluid" style=' text-align:center;'><div class=" clearfix">
	<div class="vc_col-sm-12 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			<a href="#" target="_self" class="qbutton normal_button_icon small right qbutton_with_icon" style="font-weight: 400; background-color: #ec5126;"><i class="fa fa-usd" style="color: #ffffff;"></i><span>Purchase Ghost Theme</span></a>
		</div> 
	</div> 
</div></div>
		</div> 
	</div> 
</div></div></div>
										 
												</div>
	</div>	
			
	</div>
</div>
	
</div>
</div>
    
 </section>   
<script type='text/javascript' src='http://samantha-andrews.com/wp-content/themes/eden/js/plugins.js?ver=4.1'></script>   

<script type='text/javascript' src='http://samantha-andrews.com/wp-content/themes/eden/js/default_dynamic.php?ver=4.1'></script>
<script type='text/javascript' src='http://samantha-andrews.com/wp-content/themes/eden/js/default.min.js?ver=4.1'></script>
<script type='text/javascript' src='http://samantha-andrews.com/wp-content/themes/eden/js/custom_js.php?ver=4.1'></script>

<script type='text/javascript' src='http://samantha-andrews.com/wp-content/themes/eden/js/ajax.min.js?ver=4.1'></script>
<script type='text/javascript' src='http://samantha-andrews.com/wp-content/plugins/js_composer/assets/js/js_composer_front.js?ver=4.3.5'></script>
