<div class="vc_col-sm-3 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			<span class="q_font_awsome_icon fa-3x pull-center " style=" "><i class="fa fa-clock-o" style="color: #00c6ff;"></i></span><div class="separator  transparent center circle_center " style="margin-top:1px;margin-bottom:0px;"></div>
<div class="q_counter_holder  center"><span class="counter  zero" data-active_color="#222222" style="">987</span><h4 style="">Creative Ideas</h4><span class="separator small" style=""></span><p class="counter_text" style="">Duis aut em vel eum iriure dolor in hend rerit in vulputate velit.</p></div><div class="separator  transparent center circle_center " style="margin-top:39px;margin-bottom:0px;"></div>

		</div> 
	</div> 

	<div class="vc_col-sm-3 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			<span class="q_font_awsome_icon fa-3x pull-center " style=" "><i class="fa fa-flag" style="color: #b9cf00;"></i></span><div class="separator  transparent center circle_center " style="margin-top:1px;margin-bottom:0px;"></div>
<div class="q_counter_holder  center"><span class="counter  zero" data-active_color="#222222" style="">696</span><h4 style="">Lines Of Code</h4><span class="separator small" style=""></span><p class="counter_text" style="">Duis aut em vel eum iriure dolor in hend rerit in vulputate velit.</p></div><div class="separator  transparent center circle_center " style="margin-top:39px;margin-bottom:0px;"></div>

		</div> 
	</div> 

	<div class="vc_col-sm-3 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			<span class="q_font_awsome_icon fa-3x pull-center " style=" "><i class="fa fa-dribbble" style="color: #ec5126;"></i></span><div class="separator  transparent center circle_center " style="margin-top:1px;margin-bottom:0px;"></div>
<div class="q_counter_holder  center"><span class="counter  zero" data-active_color="#222222" style="">328</span><h4 style="">Working Hours</h4><span class="separator small" style=""></span><p class="counter_text" style="">Duis aut em vel eum iriure dolor in hend rerit in vulputate velit.</p></div><div class="separator  transparent center circle_center " style="margin-top:39px;margin-bottom:0px;"></div>

		</div> 
	</div> 

	<div class="vc_col-sm-3 wpb_column vc_column_container">
		<div class="wpb_wrapper">
			<span class="q_font_awsome_icon fa-3x pull-center " style=" "><i class="fa fa-html5" style="color: #fac635;"></i></span><div class="separator  transparent center circle_center " style="margin-top:1px;margin-bottom:0px;"></div>
<div class="q_counter_holder  center"><span class="counter  zero" data-active_color="#222222" style="">179</span><h4 style="">Cups Of Coffee</h4><span class="separator small" style=""></span><p class="counter_text" style="">Duis aut em vel eum iriure dolor in hend rerit in vulputate velit.</p></div><div class="separator  transparent center circle_center " style="margin-top:39px;margin-bottom:0px;"></div>

		</div> 
	</div> 
</div></div>
		